.lfg-twitchapi .details {
    display: flex;
    margin-bottom: 8px;
}

.lfg-twitchapi .details-logo {
    width: 70px;
    height: 70px;
    flex: none;
}

.lfg-twitchapi .details-user {
    text-align: center;
    width: 100%;
    align-self: center;
}
